@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

nav {
    height: 10vh;
    border-bottom: 1px solid rgba(190, 190, 190, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.logo{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 3px;
}
.logo span{
    color: #f08080;
}

.links a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.links a:hover{
    color: #f08080;
    transition: .4s ease-in-out;
}

.home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}
.text{
    margin-right: 50px;
}

.text h1{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}
.text h1 span{ 
    color: #f08080;
}

.text p{
    font-size: 20px;
    margin-bottom: 30px;
    opacity: .5;
    width: 600px;
}
.text button{
    border: none;
    outline: none;
    background-color: #f08080;
    padding: 10px 30px;
    color: white;
    font-size: 18px;
    border-radius: 50px;
    cursor: pointer
}

.text button:hover{
    color: #f08080;
    background: none;
    border: 1px solid #f08080;
}

.img img{
    width: 70%;
    margin-left: 80px;
}

/* About section style */
.about{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.445);
}

.img{
    flex: 1;
}
.about__text{
    flex: 1;
}

.about__text h1{
    font-size: 40px;
    color: #90f5a0;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 30px;
}
.about__text p{
    color: white;
    max-width: 600px;
    text-align: justify;
    margin-bottom: 30px;
}

.about__text button{
    border: none;
    outline: none;
    background: #90f5a0;
    padding: 10px 30px;
    color: rgb(33, 32, 90);
    font-size: 18px;
    cursor: pointer;
}